* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 90vh;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: wheat;
  height: 80vh;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  flex: 0.5;
  transition: all 0.3s ease-in;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  margin: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease 0.4s;
}

#panel-1 {
  background-image: url("images/tower.jpg");
}

#panel-2 {
  background-image: url("images/waterfall.jpg");
}

#panel-3 {
  background-image: url("images/Mountain.jpg");
}

#panel-4 {
  background-image: url("images/Roses.jpg");
}

#panel-5 {
  background-image: url("images/nightSky.jpg");
}
