* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
}

header {
  height: 70px;
  background-color: black;
  box-shadow: 2px 5px 2px gray;
}

header nav h1 {
  color: white;
  padding: 20px;
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and(max-width : 800px) {
  .main {
    display: grid;
    grid-template-columns: auto;
  }
}

.add {
  background-color: rgb(34, 33, 33);
  height: 100%;
  margin: 10%;
  border-radius: 20px;
  overflow: hidden;
}

input {
  margin: 20%;
  padding: 3%;
  border-radius: 15px;
  box-shadow: 2px 5px 2px black;
}

button {
  padding: 2%;
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 15%;
  margin: 2%;
  opacity: 0.8;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 1;
}

.list {
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 5px 2px rgb(201, 201, 201);
}

ul li {
  list-style-type: none;
  width: 100%;
  padding: 15px;
}

ul li:hover {
  box-shadow: 2px 5px 2px 2px rgb(51, 51, 51);
  border-radius: 10px;
  background-color: rgb(184, 184, 184);
}

.close {
  float: right;
  cursor: pointer;
}
