* {
  box-sizing: border-box;
}

body {
  margin: 1px;
}

/* nav here */

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  background-color: rgb(202, 202, 202);
  overflow: hidden;
  box-shadow: 2px 7px 5px 2px gray;
}

header ul li h1 {
  text-shadow: 2px 2px gray;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 30px;
  color: black;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

li a:hover {
  background-color: grey;
}

li {
  float: left;
}

/* form with a side logo here */

.container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.logo {
  width: auto;
  height: auto;
  max-height: 500px;
  max-width: 500px;
  margin-top: 100px;
  margin-left: 10%;
}

/* Form div */

.ip-form {
  display: block;
  width: 100%;
  padding: 10px;
}

button {
  margin-top: 30px;
  color: black;
  background-color: cornflowerblue;
  opacity: 0.8;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

select {
  margin-top: 30px;
}

/* form inputs */

.slot-form {
  margin-right: 20%;
  margin-top: 10%;
  padding: 20px;
  /* border: 1px solid lightsteelblue; */
  box-shadow: 1px 3px 2px 1px grey;
  border-radius: 20px;
  background-color: rgb(218, 216, 216);
}

.footer {
  background-color: rgb(202, 202, 202);
  height: 200px;
}

.footer p {
  text-align: center;
  vertical-align: middle;
  padding: 85px;
}

/* Index page styling */

.slider {
  width: 100%;
  height: 700px;
  padding: 10px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
  margin-top: 10px;
}
.card {
  width: 350px;
  height: 400px;
  margin: 2%;
  box-shadow: 2px 7px 5px 2px rgb(173, 173, 173);
  border-radius: 20px;
  overflow: hidden;
  /* opacity: 0.9; */
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.card:hover {
  opacity: 1;
  width: 380px;
  height: 450px;
  box-shadow: 2px 7px 5px 2px gray;
}

.card-img {
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
  margin-top: 100px;
  font-size: 35px;
}

h3 {
  text-align: center;
}

.founder {
  margin: 50px;
  margin-bottom: 80px;
  /* margin-top: 30px; */
  display: grid;
  grid-template-columns: 30% 70%;
}

.founder img {
  margin-left: 10%;
}

.founder p {
  text-align: justify;
  margin: 5% 2%;
  background-color: cornflowerblue;
  border-radius: 20px;
  padding: 10px;
}

/* Media queries here */

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: auto;
  }

  li {
    float: none;
  }

  .logo {
    margin: 20px;
    max-width: 400px;
    max-height: 400px;
  }

  .slot-form {
    margin: 0;
  }

  .founder {
    display: grid;
    grid-template-columns: auto;
  }
}
