* {
  box-sizing: border-box;
}

body {
  margin: 1px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  background-color: rgb(202, 202, 202);
  overflow: hidden;
  box-shadow: 2px 7px 5px 2px gray;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 30px;
  color: black;
  border-radius: 5px;
}

li a:hover {
  background-color: grey;
}

li {
  float: left;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}

img {
  width: auto;
  height: auto;
  max-height: 500px;
  max-width: 500px;
  margin: 100px;
}

.footer {
  background-color: rgb(202, 202, 202);
  height: 200px;
}

.footer p {
  text-align: center;
  vertical-align: middle;
  padding: 85px;
}

.ip-form {
  display: block;
  width: 100%;
  padding: 10px;
}

button {
  margin-top: 30px;
  color: black;
  background-color: lightblue;
  opacity: 0.8;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

select {
  margin-top: 30px;
}

.slot-form {
  margin: 10% 10%;
  padding: 10px;
  /* border: 1px solid lightsteelblue; */
  box-shadow: 1px 3px 2px 1px grey;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: auto;
  }

  li {
    float: none;
  }
}
