*,
body,
html {
  margin: 0;
  padding: 0;
}

header {
  background-color: deepskyblue;
  height: 112px;
  line-height: 112px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  transition: all 0.2s;
}
}

header nav {
  float: right;
}

.logo img {
  width: 30px;
  height: 30px;
}

header nav ul li a {
  padding-right: 30px;
  font-weight: bold;
  color: black;
  transition: all 0.2s;
}

header nav ul li a:hover {
  text-decoration: none;
}
