.jumb-custom {
  padding: 8%;
  background-image: url("weather.jpg");
}

.foot-custom {
  text-align: center;
  position: fixed;
  bottom: 0%;
  height: 5%;
}

.card:hover {
  box-shadow: 2px 2px 2px 1px lightgrey;
}
