/*  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata";
  background-color: black;
  color: white;
}

body > h1 {
  text-align: center;
  margin-bottom: 20px;
}

body > p {
  max-width: 500px;
  margin: 5% auto;
}

.intro {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
  height: 100vh;
}

.intro h5,
h2,
h4 {
  display: none;
  color: white;
}

.intro h5 {
  font-size: large;
}

.intro h2 {
  font-size: xx-large;
}

.intro h4 {
  font-size: large;
}

#cv-link {
  display: none;
}

.two-col {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10%;
}

.col {
  padding: 5%;
}

.col img {
  border-radius: 30px;
}

.card-col1 {
  flex-basis: 70%;
  text-align: justify;
  padding: 5%;
}

.card-col2 {
  flex-basis: 30%;
  /* margin-left: 20px; */
  padding: 0 5%;
}

#ex_sec {
  line-height: 2rem;
}

.footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}

@media screen and (max-width: 800px) {
  .intro {
    height: 50vh;
  }

  .two-col {
    flex-flow: column;
    height: 50vh;
    margin-bottom: 5%;
  }

  .cards {
    height: 60vh;
  }

  .col {
    margin-bottom: 30px;
  }

  body > p {
    margin: 30px;
  }
}
